ignored-custom.el
eshell/history
eshell/lastdir
bookmarks.eld
places.eld
projects.eld
recentf.eld
*.elc
*~
.*.lock
/tramp
\#*
/tree-sitter
/elpa
/elpa-*
site-lisp/**/
# !/site-lisp/README.md
/var
/.achievements
/.bookmarks.el
/history
/thumbs/
/emms/
/image-dired/
/ido.last
/recentf
.cache/
/transient
/eln-cache/
/projects
