ignored-custom.el
eshell/history
eshell/lastdir
bookmarks.eld
places.eld
projects.eld
recentf.eld
/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/tree-sitter
/elpa
/elpa-*
site-lisp/package/
/var
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/thumbs/
/emms/
/image-dired/
/ido.last
/recentf
.cache/
/transient
/eln-cache/
/projects
